<?xml version="0.0" ?>
<robot name="table.urdf">
  <material name="Black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>
  <material name="Blue">
    <color rgba="0.0 0.0 0.8 1.0"/>
  </material>
  <material name="Green">
    <color rgba="0.0 0.8 0.0 1.0"/>
  </material>
  <material name="Grey">
    <color rgba="0.5 0.5 0.5 1.0"/>
  </material>
  <material name="Light_Grey">
    <color rgba="0.8 0.8 0.8 1.0"/>
  </material>
  <material name="Ivory">
    <color rgba="1.0 1.0 0.94 1.0"/>
  </material>
  <material name="Orange">
    <color rgba="1.0 0.423529411765 0.0392156862745 1.0"/>
  </material>
  <material name="Brown">
    <color rgba="0.870588235294 0.811764705882 0.764705882353 1.0"/>
  </material>
  <material name="Red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>
  <material name="White">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>
  <link name="baseLink">
    <contact>
      <lateral_friction value="1.0"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value=".0"/>
       <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.6"/>
      <geometry>
				<mesh filename="table.obj" scale="1.5 1 0.05"/>
      </geometry>
       <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.6"/>
      <geometry>
	 	<box size="1.5 1 0.05"/>
      </geometry>
    </collision>
	<visual>
      <origin rpy="0 0 0" xyz="-0.65 -0.4 0.29"/>
      <geometry>
	    <mesh filename="table.obj" scale="0.1 0.1 0.58"/>
      </geometry>
	  <material name="framemat0"/>	 
    </visual>
    <visual>
      <origin rpy="0 0 0" xyz="-0.65 0.4 0.29"/>
      <geometry>
        <mesh filename="table.obj" scale="0.1 0.1 0.58"/>
      </geometry>
	  <material name="framemat0"/>
	  </visual>
    <visual>
      <origin rpy="0 0 0" xyz="0.65 -0.4 0.29"/>
      <geometry>
        <mesh filename="table.obj" scale="0.1 0.1 0.58"/>
      </geometry>
	  <material name="framemat0"/>
	  </visual>
    <visual>
      <origin rpy="0 0 0" xyz="0.65 0.4 0.29"/>
      <geometry>
        <mesh filename="table.obj" scale="0.1 0.1 0.58"/>
      </geometry>
    </visual>
  </link>
  <joint name="table2shelf" type="fixed">
    <parent link="baseLink"/>
    <child link="shelf"/>
    <origin rpy="0 0 -1.57" xyz="-0.5 0.125 0.625"/>
  </joint>
  <link name="shelf">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="shelf_back.stl" scale="0.75 0.75 0.5"/>
      </geometry>
      <material name="Ivory"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="shelf_back.stl" scale="1.0 0.75 0.5"/>
	<!-- <mesh filename="shelf_back.stl" scale="0.75 0.75 0.5"/> -->
      </geometry>
    </collision>
    <contact>
      <lateral_friction value="0.2"/>
    </contact>
  </link>
</robot>

